@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
}



.btn-animado {
  border-radius: 34px;
  font-weight: 600;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: inline-flex;
  align-items: center;
}

.btn-animado:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centra verticalmente */
  padding: 0 1rem; /* un poco de padding horizontal para que no pegue a los bordes */
  box-sizing: border-box;
}